@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}
body{
    @apply bg-black text-white;
}

::selection{
    background-color: #3b82f6;
    color: white;
}

img, svg, i, header, nav, footer, button{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.content_main{
    min-height: 65vh;
}