@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}
body{
    @apply bg-black text-white;
}

::selection{
    background-color: #3b82f6;
    color: white;
}

img, svg, i, header, nav, footer, button{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.article_contents h2,
.article_contents p,
.article_contents strong,
.article_contents b,
.article_contents code,
.article_contents h3,
.article_contents h4,
.article_contents h5,
.article_contents h6,
.article_contents ul,
.article_contents ol{
    color: white;
}
.article_contents a {
    color: steelblue;
    transition: color 0.1s ease-in-out;
}

.article_contents a:hover {
    color: dodgerblue;
}
.article_contents code::before, .article_contents code::after{
    content: "";
}
.tag{
    @apply bg-primary-700 even:bg-primary-800 select-none text-white px-2 py-1 rounded-md cursor-pointer transition duration-100 scale-100 hover:scale-105 active:scale-95;
}